* {
    font-family: 'Gemunu Libre', sans-serif;
    background-color: slategray;
    color: whitesmoke;
}

a {
    text-decoration: none;
}

#highscores {
    display: block;
    justify-content: center;
}

header {
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
}

.start-btn {
    background-color: salmon;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 3px;
}

.submit-btn {
    background-color: rgb(185, 91, 204);
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 3px;
}

.start-btn:hover {
    background-color: rgb(182, 65, 52);
}

.btn-group button {
    background-color: rgb(104, 209, 204);
    font-size: large;
    color: black;
    padding: 10px 10px;
    margin: 10px;
    cursor: pointer;
    width: 50%;
    /* display: block; */
}

.btn-group button:hover {
    background-color: rgb(119, 236, 231);
}